# Farcaster Hub
HUB_RPC="nemes.farcaster.xyz:2283"
HUB_SSL="true" # set to false if using a local hub

# Database 
DATABASE_URL="" # (Postgres connection string)
REDIS_URL="redis://localhost:6379"

# Indexer Config
WORKER_CONCURRENCY="5"
BACKFILL_MAX_FID="100"

# Logging
# LOG_LEVEL="trace" # 'fatal' | 'error' | 'warn' | 'info' | 'debug' | 'trace'
