version: '3.9'

services:
  postgres:
    image: 'postgres:16-alpine'
    restart: unless-stopped
    ports:
      - '5432:5432' # Use a port unlikely to be in use so the example "Just Works"
    environment:
      - POSTGRES_DB=indexer
      - POSTGRES_USER=indexer
      - POSTGRES_PASSWORD=password
    # volumes:
    #   - postgres-data:/var/lib/postgresql/data
    healthcheck:
      # Need to specify name/user to avoid `FATAL: role "root" does not exist` errors in logs
      test:
        [
          'CMD-SHELL',
          'env',
          'pg_isready',
          '--dbname',
          '$$POSTGRES_DB',
          '-U',
          '$$POSTGRES_USER',
        ]
      interval: 10s
      timeout: 10s
      retries: 3
    networks:
      - indexer-network
  redis:
    image: 'redis:7.2-alpine'
    restart: unless-stopped
    command: --loglevel warning --maxmemory-policy noeviction
    # volumes:
    #   - redis-data:/data
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli', 'ping']
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 5s
    networks:
      - indexer-network

# volumes:
#   postgres-data:
#   redis-data:

networks:
  indexer-network:
